html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial;
  color: #4b4b4b;
  overflow: hidden; }

p {
  line-height: 1.5; }
  p img {
    height: 16px;
    cursor: text; }

a {
  text-decoration: none; }

#main {
  height: inherit;
  width: inherit;
  background: radial-gradient(ellipse closest-corner at center, #DDB486 0%, #754018 100%);
  background-image: url("../images/bg.jpg"); }

#portfolio-card {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
  height: 400px;
  width: 700px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: start 1s;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out; }
  #portfolio-card > div {
    backface-visibility: hidden;
    background-color: #f5f9ef;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 0; }

#back {
  transform: rotateY(180deg); }

#portfolio-card.flipped {
  transform: rotateY(180deg);
  box-shadow: -3px 3px 3px 3px rgba(0, 0, 0, 0.3); }

#title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  width: 100%; }
  #title img {
    height: 100%;
    box-sizing: border-box;
    border: 1px solid darkgray; }
  #title h1 {
    font-size: 40px;
    height: 100%; }

#contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1; }

#left {
  display: flex;
  flex-direction: column;
  width: 340px; }

#right {
  flex: 1;
  padding-left: 30px; }

.otherside {
  position: absolute;
  bottom: 0;
  right: 5px;
  height: 40px;
  z-index: 100; }

.img-link {
  display: block;
  vertical-align: middle;
  height: 64px;
  padding: 12px;
  padding-left: 50px;
  border: 1px dashed darkgray;
  background-color: #f5f9ef; }
  .img-link img {
    height: 100%; }
  .img-link p {
    display: inline;
    font-size: 16px;
    margin: 0;
    vertical-align: top;
    line-height: 64px; }

h2 {
  margin: 5px 0;
  font-size: 25px;
  color: darkgray;
  text-align: right; }

hr {
  margin: 20px 0; }

.titleimg-focus {
  transform: scale(6); }

.clickable, .otherside {
  cursor: pointer; }

#slideshow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex; }
  #slideshow div {
    flex: 1;
    background-size: cover;
    background-position: center center; }
  #slideshow h1 {
    margin: 0;
    padding: 15px 0;
    font-size: 36px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 2px 2px #4b4b4b; }
  #slideshow p {
    font-size: 16px;
    color: white;
    margin: 0;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px #4b4b4b; }
  #slideshow .arrow {
    height: 75px;
    width: 75px;
    margin: auto 0;
    border-radius: 100%; }
    #slideshow .arrow:hover {
      background-color: white; }
    #slideshow .arrow.left {
      transform: scaleX(-1); }

@keyframes start {
  0% {
    top: -150%;
    transform: rotateX(90deg) rotateY(-90deg); }
  95% {
    transform: rotateX(0); }
  100% {
    top: 0; } }

/*# sourceMappingURL=index.css.map */
